body{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 18%;
    text-shadow: 
                -1px -1px 0 #ca4242,  
                 1px -1px 0 #db1f1f,
                -1px  1px 0 #c12121,
                 1px  1px 0 #c91515; 
    
}
ul {
    margin: 0px;
}

body > header {
    background-color: aqua;
    color: antiquewhite;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav-ul{
    display: flex;
}
#nav-ul > li {
    padding: 1vh;
    margin: 2vw;
    height: 1vh;
}
body > header > nav > ul {
    list-style: NONE;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}
body > main article {
    width: 70%;
    margin: auto;
}

body > footer {
    background-color: aqua;
    display: flex;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}
#footer-ul {
    list-style: none;
    display: flex;
}
#footer-ul > div > li {
    margin-left: 12px;
    margin-right: 12px;

}
#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}
h2 { 
    text-align: center;
}

form {
    text-align: center;
}

img{
    border-radius: 50%;
}